body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
  }
  
  h1 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  .app-bar {
    position: stickyr;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  }
  
  .app-bar-esquerda {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  
  .app-bar-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .app-bar-logo {
    width: relative;
    height: 60px;
  }
  
  .app-bar-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #113d4b;
    font-weight: bold;
    font-size: 14px;
  }

  .app-bar-link-raizen {
    text-decoration: none;
    text-transform: uppercase;
    color: #113d4b;
    font-weight: bold;
    font-size: 14px;
  }
  
  .cabecalho {
    background-color: #00A1E0;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  }
  
  .cabecalho-conteudo {
    width: 800px;
    margin: auto;
  }
  
  .lista-tags {
    margin-bottom: 12px;
  }
  
  .tag {
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    font-size: 14px;
  }

  span .tag-r {
    font-size: 14px;
    Color: purple;
    padding-right: 1px;
  }
  
  .cabecalho-titulo {
    font-size: 42px;
    line-height: 1.2;
  }
  
  .conteudo {
    width: 640px;
    margin: auto;
    margin-bottom: 30px;
     }
  
  .conteudo-paragrafo {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: justify;
    color: #113d4b;
     }

     .botao-menu {
      color: #113d4b;
      font-size: 30px;
      cursor: pointer;
        }

   .menu-lateral {
    background-color: #113d4b;
    color: white;
    width: 0;
    height: 100%;
    position: absolute;
    padding-top: 60px;
    transition: all 0.5s ease;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;    
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .menu-lateral a {
    padding: 20px 16px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block; 
    transition: 0.3s;
    justify-content: flex-start;
    margin-top: auto;
    flex-direction: column;
     }
  
  .menu-lateral a:hover {
    color: #00A1E0;
  }


  .menu-lateral .closebtn {
    position: absolute;      
    top: 8px;
    right: 16px;
    font-size: 36px;
    margin-left: 100px;
  }

   @media screen and (max-height: 450px) {
    .menu-lateral {padding-top: 15px;}
    .menu-lateral a {font-size: 18px;}
  }

  #ismenu-lateral{
    border-radius: 6px;
  }

.Voltar {

    background-color: #00A1E0;
    color: white;
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 10px;
    }

.Voltar a{
    color: white;
    font-weight: 400;
}

ul li {
  padding-top: 10px;
  color:#113d4b;}

ul li .obj-p {
  color:#113d4b;
  font-weight: bold;
}

h3 {
  color: #113d4b;
}

.siebelcrm {
  height: auto; 
  width: auto; 
  max-width: 400px; 
  max-height: 400px;
  margin-left: 120px; 
}

.customer360 {
  height: auto; 
  width: auto; 
  max-width: 640px; 
  max-height: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.2);
  }

.unidadesalesforce {
  height: auto; 
  width: auto; 
  max-width: 600px; 
  max-height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.cloud-overview {
  height: auto; 
  width: auto; 
  max-width: 600px; 
  max-height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.zoom {
  font-size: 12px;
  color: #00A1E0;
}

.sharingmodel1 {
  height: auto; 
  width: auto; 
  max-width: 645px; 
  max-height: 700px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.relatoriosf {
  height: auto; 
  width: auto; 
  max-width: 645px; 
  max-height: 700px;
  margin-left: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.crm-conceito-video {
  width: 560px;
  height: 315px;
  border: 0;
}

.ploomes {
  width: 560px;
  height: 315px;
  border: 0;
}

.salesforcecrm-video {
  width: 570px;
  height: 315px; 
  border: 0;
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #113d4b;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  height: 100%;
  margin: 0;
  gap: 20px;
  flex: 1 1 ;
  }

 .footer-container a{
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block; 
  transition: 0.3s;
  text-align: center;
  margin-top: auto;
  flex-direction: column;
 }

 .footer-container a:hover {
  color: #00A1E0;
}

.footer-grid  {
  display: flex;
  padding: 10px;  
  text-align: center;  
  width: 100%;
  justify-content: flex-end;
   
 }

 .footer-grid-links {
  display: flex;
  padding: 10px;  
  text-align: center;
  width: 100%;
  justify-content: flex-start;
      }

@media only screen and (max-width: 600px) {

  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow-x: clip;
  }
  
  h1 {
    margin: 8px;
    
  }
  
  p {
    margin: 8px;
    font-size: 11px;
  }
  
  .app-bar {
    position: relative;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  }

  .app-bar-link {
    display: none;
  }
  
  .app-bar-esquerda {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  
  .app-bar-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .app-bar-logo {
    width: relative;
    height: 60px;
  }
  
  .app-bar-link-raizen {
    text-decoration: none;
    text-transform: uppercase;
    color: #113d4b;
    font-weight: bold;
    font-size: 14px;
  }
  
  .cabecalho {
    display: flex;   
    background-color: #00A1E0;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  .cabecalho-conteudo {
    width: 100%;
    margin: auto;
  }
  
  .lista-tags {
    margin-bottom: 12px;
  }
  
  .tag {
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    font-size: 12px;
    margin: 8px;
  }

  span .tag-r {
    font-size: 10px;
    Color: purple;
    padding-right: 1px;
  }
  
  .cabecalho-titulo {
    font-size: 30px;
    line-height: 1.2;
  }
  
  .conteudo {
    width: auto;
    margin: auto;
    margin-bottom: 30px;

     }
  
  .conteudo-paragrafo {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 20px;
    text-align: justify;
    color: #113d4b;
     }

  .botao-menu {
    color: #113d4b;
    font-size: 20px;
    cursor: pointer;
      }

   .menu-lateral {
    background-color: #113d4b;
    color: white;
    width: 0;
    height: 100%;
    position: absolute;
    padding-top: 20px;
    transition: all 0.5s ease;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;    
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .menu-lateral a {
    padding: 20px 16px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block; 
    transition: 0.3s;
    justify-content: flex-start;
    margin-top: auto;
    flex-direction: column;
     }
  
  .menu-lateral a:hover {
    color: #00A1E0;
  }


  .menu-lateral .closebtn {
    position: absolute;      
    top: 8px;
    right: 16px;
    font-size: 36px;
    margin-left: 100px;
  }

   @media screen and (max-height: 100px) {
    .menu-lateral {padding-top: 15px;}
    .menu-lateral a {font-size: 18px;}
  }

  #ismenu-lateral{
    border-radius: 6px;
  }

.Voltar {

    background-color: #00A1E0;
    color: white;
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 10px;
    }

.Voltar a{
    color: white;
    font-weight: 400;
}

ul li {
  padding-top: 10px;
  color:#113d4b;}

ul li .obj-p {
  color:#113d4b;
  font-weight: bold;
}

h3 {
  color: #113d4b;
}

.siebelcrm {
  height: auto; 
  width: auto; 
  max-width: 400px; 
  max-height: 400px;
  margin-left: 120px; 
}

.customer360 {
  height: auto; 
  width: auto; 
  max-width: 600px; 
  max-height: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.2);
  }

.unidadesalesforce {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.cloud-overview {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.zoom {
  font-size: 12px;
  color: #00A1E0;
}

.sharingmodel1 {
  height: auto; 
  width: auto; 
  max-width: 545px; 
  max-height: 600px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.relatoriosf {
  height: auto; 
  width: auto; 
  max-width: 545px; 
  max-height: 600px;
  margin-left: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.crm-conceito-video {
  width: 560px;
  height: 315px;
  border: 0;
}

.ploomes {
  width: 560px;
  height: 315px;
  border: 0;
}

.salesforcecrm-video {
  width: 570px;
  height: 315px; 
  border: 0;
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #113d4b;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  height: 100%;
  margin: 0;
  gap: 20px;
  flex: 1 1 ;
  }

 .footer-container a{
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block; 
  transition: 0.3s;
  text-align: center;
  margin-top: auto;
  flex-direction: column;
   }

 .footer-container a:hover {
  color: #00A1E0;
}

.footer-grid  {
  display: flex;
  padding: 5px;  
  text-align: center;  
  width: 100%;
  justify-content: flex-end;
   
 }

 .footer-grid-links {
  display: flex;
  padding: 5px;  
  text-align: center;
  width: 100%;
  justify-content: flex-start;
      }
}